# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~
.watchcode.log

# Rust
/target/
/Cargo.lock

# Debugging files
test*.png*